In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv(("events.csv"), header=0, sep=";")
df.head(5)

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1,1773216,NaN,3,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,São Paulo,07500-000,Safari,Adwords,/cancel,cancel
2,2380515,NaN,3,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,Mairiporã,São Paulo,07600-000,IE,Adwords,/cancel,cancel
3,2250597,NaN,3,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,São Paulo,07750-000,Chrome,Adwords,/cancel,cancel
4,1834446,NaN,3,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,São Paulo,São Paulo,09581-680,Chrome,Email,/cancel,cancel

In [9]:
# Valores nulos
df.isnull().sum()

id                      0
user_id            485542
sequence_number         0
session_id              0
created_at              0
ip_address              0
city                 9931
state                   0
postal_code             0
browser                 0
traffic_source          0
uri                     0
event_type             21
dtype: int64

In [10]:
df["user_id"] = df["user_id"].fillna("Sin_user_id")
df["city"] = df["city"].fillna("Sin_city")

In [11]:
# Valores nulos
df.isnull().sum()

id                  0
user_id             0
sequence_number     0
session_id          0
created_at          0
ip_address          0
city                0
state               0
postal_code         0
browser             0
traffic_source      0
uri                 0
event_type         21
dtype: int64

In [12]:
df.to_csv('Eventos sin nulos.csv', index = False, sep = ";")