In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(("events.csv"), header=0 ,sep=";" ,encoding = 'ISO-8859-1')

In [3]:
df.head()

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,SÃ£o Paulo,SÃ£o Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1,1773216,NaN,3,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,SÃ£o Paulo,07500-000,Safari,Adwords,/cancel,cancel
2,2380515,NaN,3,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,MairiporÃ£,SÃ£o Paulo,07600-000,IE,Adwords,/cancel,cancel
3,2250597,NaN,3,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,SÃ£o Paulo,07750-000,Chrome,Adwords,/cancel,cancel
4,1834446,NaN,3,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,SÃ£o Paulo,SÃ£o Paulo,09581-680,Chrome,Email,/cancel,cancel

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 13 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   id               1048575 non-null  int64
 1   user_id          563033 non-null   float64
 2   sequence_number  1048575 non-null  int64
 3   session_id       1048575 non-null  object
 4   created_at       1048575 non-null  object
 5   ip_address       1048575 non-null  object
 6   city             1038644 non-null  object
 7   state            1048575 non-null  object
 8   postal_code      1048575 non-null  object
 9   browser          1048575 non-null  object
 10  traffic_source   1048575 non-null  object
 11  uri              1048575 non-null  object
 12  event_type       1048554 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 104.0+ MB

In [5]:
eventos_clientes = df.dropna(subset=["user_id"])

In [6]:
eventos_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 563033 entries, 1251 to 1048574
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               563033 non-null  int64
 1   user_id          563033 non-null  float64
 2   sequence_number  563033 non-null  int64
 3   session_id       563033 non-null  object
 4   created_at       563033 non-null  object
 5   ip_address       563033 non-null  object
 6   city             557760 non-null  object
 7   state            563033 non-null  object
 8   postal_code      563033 non-null  object
 9   browser          563033 non-null  object
 10  traffic_source   563033 non-null  object
 11  uri              563033 non-null  object
 12  event_type       563025 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 60.1+ MB

In [7]:
eventos_clientes.head()

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
1251,458138,35092.0,3,e24636ad-3949-4174-bd09-4e2ae7a95aa3,2022-08-01 01:10:20+00:00,92.212.103.243,Sapporo,Hokkaido,003-0030,Chrome,Facebook,/cart,cart
1252,444176,34028.0,6,b334f6d8-a1fd-42e9-90e4-8e8d2af7a663,2021-07-13 23:14:04+00:00,176.14.231.160,Sapporo,Hokkaido,007-0890,Safari,Email,/cart,cart
1253,170896,13199.0,4,1df890d5-6783-4602-aa0a-e6668fed606e,2023-11-05 10:45:45+00:00,114.185.130.47,SÃ£o Paulo,SÃ£o Paulo,02220-000,Safari,Email,/cart,cart
1257,1147243,87818.0,3,e99fd570-3c66-4475-ab68-41c4a0da4bbc,2021-01-01 06:55:11+00:00,138.36.176.82,SÃ£o Paulo,SÃ£o Paulo,02675-031,Chrome,Email,/cart,cart
1259,604658,46234.0,3,d566d275-4aea-4e90-be87-f119b4369f48,2023-12-22 12:38:20+00:00,163.100.101.188,SÃ£o Paulo,SÃ£o Paulo,02675-031,Safari,Adwords,/cart,cart

In [8]:
eventos_clientes = eventos_clientes.drop(['session_id','created_at','ip_address','state','postal_code','city','browser','traffic_source','uri'], axis = 1)

In [9]:
eventos_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 563033 entries, 1251 to 1048574
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               563033 non-null  int64
 1   user_id          563033 non-null  float64
 2   sequence_number  563033 non-null  int64
 3   event_type       563025 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 21.5+ MB

In [11]:
df2 = pd.read_csv(("users.csv"), header=0 ,sep=";" ,encoding = 'ISO-8859-1')

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              100000 non-null  int64
 1   first_name      100000 non-null  object
 2   last_name       100000 non-null  object
 3   email           100000 non-null  object
 4   age             100000 non-null  int64
 5   gender          100000 non-null  object
 6   state           100000 non-null  object
 7   street_address  100000 non-null  object
 8   postal_code     100000 non-null  object
 9   city            99042 non-null   object
 10  country         100000 non-null  object
 11  latitude        100000 non-null  object
 12  longitude       100000 non-null  object
 13  traffic_source  100000 non-null  object
 14  created_at      100000 non-null  object
dtypes: int64(2), object(13)
memory usage: 11.4+ MB

In [13]:
df2.head()

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,457,Timothy,Bush,timothybush@example.net,65,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945.567.619,-6.783.560.991,Search,2022-07-19 13:51:00+00:00
1,6578,Elizabeth,Martinez,elizabethmartinez@example.com,34,F,Acre,1705 Nielsen Land,69917-400,Rio Branco,Brasil,-9.945.567.619,-6.783.560.991,Search,2023-11-08 18:49:00+00:00
2,36280,Christopher,Mendoza,christophermendoza@example.net,13,M,Acre,125 Turner Isle Apt. 264,69917-400,Rio Branco,Brasil,-9.945.567.619,-6.783.560.991,Email,2019-08-24 06:10:00+00:00
3,60193,Jimmy,Conner,jimmyconner@example.com,64,M,Acre,0966 Jose Branch Apt. 008,69917-400,Rio Branco,Brasil,-9.945.567.619,-6.783.560.991,Search,2020-02-15 11:26:00+00:00
4,64231,Natasha,Wilson,natashawilson@example.net,25,F,Acre,20798 Phillip Trail Apt. 392,69917-400,Rio Branco,Brasil,-9.945.567.619,-6.783.560.991,Search,2020-03-13 06:45:00+00:00

In [14]:
df2.rename(columns={"id": "user_id"}, inplace=True)

In [15]:
df3 = eventos_clientes.merge(df2, on="user_id", how="left")
print(df3)

             id  user_id  sequence_number event_type   first_name  \
0        458138  35092.0                3       cart        Linda
1        444176  34028.0                6       cart      Kaitlyn
2        170896  13199.0                4       cart        Sarah
3       1147243  87818.0                3       cart       Brooke
4        604658  46234.0                3       cart   Jacqueline
...         ...      ...              ...        ...          ...
563028   223936  17188.0                6       cart      Jessica
563029  1200423  91875.0                6       cart       Hailey
563030   508301  38817.0               12       cart  Christopher
563031   188547  14537.0                4       cart         Dawn
563032  1150534  88077.0                3       cart      Desiree

          last_name                               email  age gender  \
0            Watson             lindawatson@example.net   50      F
1              Neal             kaitlynneal@example.org   70      F
2              Shaw               sarahshaw@example.org   16      F
3           Pittman           brookepittman@example.org   37      F
4         Velasquez     jacquelinevelasquez@example.com   12      F
...             ...                                 ...  ...    ...
563028       Martin           jessicamartin@example.net   21      F
563029          Kim               haileykim@example.com   12      F
563030  Christensen  christopherchristensen@example.net   24      M
563031        Black               dawnblack@example.org   24      F
563032       Garcia           desireegarcia@example.org   18      F

                                   state                street_address  \
0                               Hokkaido  21465 Rhonda Field Suite 992
1                               Hokkaido   04357 Darren Camp Suite 558
2                             SÃ£o Paulo     876 Stewart Port Apt. 445
3                             SÃ£o Paulo                981 Brandi Via
4                             SÃ£o Paulo  5135 Anderson Flat Suite 364
...                                  ...                           ...
563028  Guangxi Zhuang Autonomous Region     869 Holmes Lakes Apt. 606
563029               Nordrhein-Westfalen               233 Owens Knoll
563030                             Hebei    845 Ramsey Radial Apt. 484
563031                      Jeollanam-do  3593 Hernandez Park Apt. 758
563032                         Grand Est      4392 Kemp Plaza Apt. 590

       postal_code            city      country        latitude  \
0         003-0030         Sapporo        Japan   4.303.853.579
1         007-0890         Sapporo        Japan   4.313.656.452
2        02220-000      SÃ£o Paulo       Brasil  -2.348.476.114
3        02675-031      SÃ£o Paulo       Brasil  -2.347.256.155
4        02675-031      SÃ£o Paulo       Brasil  -2.347.256.155
...            ...             ...          ...             ...
563028      537500          Xiamen        China   2.286.570.829
563029       53757  Sankt Augustin      Germany   5.077.138.924
563030       53899            Heze        China   3.798.892.575
563031     540-850   Suncheon City  South Korea   3.489.878.258
563032       54000           Nancy       France   4.868.889.227

             longitude traffic_source                 created_at
0        1.414.478.828        Display  2022-05-22 02:33:00+00:00
1        1.414.374.334          Email  2020-02-20 01:20:00+00:00
2       -4.657.438.974         Search  2021-08-27 13:52:00+00:00
3       -4.674.656.621       Facebook  2020-05-26 07:42:00+00:00
4       -4.674.656.621         Search  2023-05-22 15:22:00+00:00
...                ...            ...                        ...
563028   1.105.260.168         Search  2021-11-16 12:20:00+00:00
563029   7.189.810.202       Facebook  2023-07-26 04:54:00+00:00
563030   1.155.591.126         Search  2022-06-22 07:16:00+00:00
563031   1.275.447.094         Search  2022-10-10 02:21:00+00:00
563032   6.178.068.283         Search  2023-03-03 09:06:00+00:00

[563033 rows x 18 columns]

In [16]:
df3.columns

Index(['id', 'user_id', 'sequence_number', 'event_type', 'first_name',
       'last_name', 'email', 'age', 'gender', 'state', 'street_address',
       'postal_code', 'city', 'country', 'latitude', 'longitude',
       'traffic_source', 'created_at'],
      dtype='object')

In [17]:
df3.to_csv('clientes_completo.csv', index = False, sep = ";")